.body{
    background-image: url(/imgs/cul-entrada.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
}


/* NAV BAR */
.navbar{
    background-color: #0f3a85;
}

.offcanvas{
    background-color: #0f3a85;
}

.img-logo{
    height: 55px;
}

.login-button{
    background-color: rgb(248, 248, 248);
    color: black;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
}

.login-button:hover{
    background-color: #adcdf1;
}

.nav-link{
    color: white;
    font-size: 18px;
    font-weight: 500;
    position: relative;
}

.navbar-toggler{
    border: none;
    font-size: 1.25rem;
    margin-left: 8px;
    padding: 4px 10px;
    background-color: rgba(255, 255, 255, 0.623);
}

.btn-close{
    background-color: white;
}

.navbar-toggler:focus, .btn-close:focus{
    box-shadow: none;
    outline: none;
    background-color: white;
}

@media (min-width: 991px){
    .nav-link::before{
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: whitesmoke;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .nav-link:hover::before{
        width: 100%;
        visibility: visible;
    }
}

.head{
    background-color: #014080;
    padding: 16px 12px 40px 40px;
    color: white;
    border-radius: 6px 6px 0 0;
}

.logo-nombre{
    width: 163px;
}

/* DIV HEAD FORMULARIO */

h1{
    font-size: 36px;
    padding: 16px 0;
}

p{
    margin: 0;
    font-size: 15px;
}

.p-centro{
    margin: 18px 0;
}

/* DIV HEAD FORMULARIO */

/* DIV CUERPO FORMULARIO */

.contenedor{
    padding-bottom: 15px;
    border-radius: 15px;
}

.cuerpo{
    padding: 30px 30px;
    background-color: rgba(255, 255, 255, 0.87);
}

.row, .radio, .mb-3{
    padding: 12px 0 0 12px;
}

.radio{
    padding-left: 35px;
}

#p-cuerpo1{
    margin-top: 20px;
}

.p-cuerpo{
    font-size: 18px;
    margin-top: 50px;
}

.btn{
    width: 100px;
    background-color: #014080;
    color: white;
    margin: 70px 0 20px 15px;
}

.footer{
    background-color: rgba(248, 248, 248, 0.74);
    padding: 0 50px 15px 50px;
    border-radius: 0 0 6px 6px;
}

.footer p{
    font-size: 12px;
}

.logo-microsoft{
    width: 240px;
}

footer{
    background-color: #1b1d26;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.barra{
    height: 1px;
    background-color: white;
    margin: 40px 15px;
}

h5{
    padding-top: 25px;
    color: white;
}

.contacto, .enlaces, .oferta{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.iconos{
    display: flex;
    align-items: center;
    gap: 8px;
}

.p-iconos{
    color: white;
    padding: 0;
    margin: 0;
}

.icono{
    width: 22px;
}

.bold{
    font-weight: bold;
}

.enlace{
    color: white;
    text-decoration: none;
}

.enlace:hover{
    color: rgb(219, 192, 36);
}

@media (width < 1210px) {
    .contenidos, .barra{
        width: 90% !important;
    }

    .w-50{
        width: 75% !important;
    }
}

@media (width < 935px) {
    .contenidos{
        flex-direction: column !important;
    }
}