/* NAV BAR */
.navbar{
    background-color: #0f3a85;
}

.offcanvas{
    background-color: #0f3a85;
}

.img-logo{
    height: 80px;
}

.login-button{
    background-color: rgb(248, 248, 248);
    color: black;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
}

.login-button:hover{
    background-color: #adcdf1;
}

.nav-link{
    color: white;
    font-size: 18px;
    font-weight: 500;
    position: relative;
}

.navbar-toggler{
    border: none;
    font-size: 1.25rem;
    margin-left: 8px;
    padding: 4px 10px;
    background-color: rgba(255, 255, 255, 0.623);
}

.btn-close{
    background-color: white;
}

.navbar-toggler:focus, .btn-close:focus{
    box-shadow: none;
    outline: none;
    background-color: white;
}

@media (min-width: 991px){
    .nav-link::before{
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: whitesmoke;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .nav-link:hover::before{
        width: 100%;
        visibility: visible;
    }
}
/* NAV BAR FINAL*/

.aplicativo{
    font-size: 34px;
    color: #00116f;
}

p{
    font-size: 18px;
    margin-bottom: 22px;
}

.imgs{
    width: 100%;
}

footer{
    background-color: #1b1d26;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.barra{
    height: 1px;
    background-color: white;
    margin: 40px 15px;
}

h5{
    padding-top: 25px;
    color: white;
}

.contacto, .enlaces, .oferta{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.iconos{
    display: flex;
    align-items: center;
    gap: 8px;
}

.p-iconos{
    color: white;
    padding: 0;
    margin: 0;
}

.icono{
    width: 22px;
}

.bold{
    font-weight: bold;
}

.enlace{
    color: white;
    text-decoration: none;
}

.enlace:hover{
    color: rgb(219, 192, 36);
}

@media (width < 1210px) {
    .contenidos, .barra{
        width: 90% !important;
    }

    .w-50{
        width: 75% !important;
    }
}

@media (width < 935px) {
    .contenidos{
        flex-direction: column !important;
    }
}